@page
@using PagedList;
@using Scriptingo.Common;
@using Scriptingo.Common.Models;
@using Newtonsoft;
@using Scriptingo.Common;
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}


    <div class="card">
        <div class="card-header">
            Dashboard
        </div>
        <div class="card-body">
            <p>
                You can easily create api for all db types dynamically. <br />
            </p>
        </div>
    </div>

    @section Scripts{

    }
